"*":
  core:
    disabledPackages: [
      "linter-jscs"
      "linter-jshint"
    ]
    followSymlinks: false
    telemetryConsent: "limited"
  editor:
    fontFamily: "Noto Sans Mono CJK JP"
    fontSize: 14
    showInvisibles: true
  "exception-reporting":
    userId: "ed94c887-555e-998f-2cee-8c833ea675fc"
  "go-config":
    gopath: "$HOME/go"
  welcome:
    showOnStartup: false
