'*':
  'ctrl-0': 'tree-view:toggle-focus'
'atom-text-editor':
  'ctrl-h': 'core:backspace'
  'ctrl-p': 'core:move-up'
  'ctrl-n': 'core:move-down'
  'ctrl-f': 'core:move-right'
  'ctrl-b': 'core:move-left'
  'ctrl-d': 'core:delete'
  'ctrl-y': 'core:paste'

  'ctrl-i': 'editor:indent'
  'ctrl-j': 'editor:newline'
  'ctrl-a': 'editor:move-to-first-character-of-line'
  'ctrl-e': 'editor:move-to-end-of-line'

  'alt-f': 'find-and-replace:show'
  'alt-d': 'find-and-replace:select-next'
